body{
    font-family: 'Roboto Slab', serif;
    background: #ece9e9;
}

header{
    display: block;
    width: 100%;
    height: 880px;
    background: url("../../img/bg.png") center no-repeat;
    background-size: cover;
}

.logo{
    height: auto;
    width: auto;
}

.search::after{
    display: block;
    position: relative;
    content: "";
    width: 340px;
    border-bottom: 1px solid black;
    margin-top: 7px;
    margin-bottom: 55px;
}

.search input{
    border: none;
    background: transparent;
    margin-right: 7px;
}
.search{
    font-family: 'Roboto Slab', serif;
    font-weight: 480;
    font-size: 15px;
    color: black;
}
.search input:focus{
    outline: none;
}

.search button:focus{
    outline: none;
}

.header-content{
    display: block;
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
    padding-top: 23px;
}

.search button{
    border: none;
    background: transparent;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-nav-list{
    display: flex;
    width: auto;
    text-align: right;
}

.header-nav-item a{
    color: #334c53;
    text-decoration: none;
}

.header-nav-list li a:hover{
    color: #8a8888;
}

.header-nav-item{
    font-family: 'Roboto Slab', serif;
    font-weight: 480;
    font-size: 15px;
    margin-left: 12px;
    list-style-type: none;
}

.header-center{
    display: flex;
    height: 600px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-center h1{
    color: #735440;
    font-size: 45px;
    font-weight: 680;
    margin-bottom: 60px;
}

.header-center button{
    background: #569b4a;
    color: rgb(240, 234, 234);

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 25px;
    border: 0;
}

.header-center button:hover{
    box-shadow: 1px 1px 2px 2px #8f8f8f;
}

.products{
    display: block;
    background: #fff;
    padding: 45px 9%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.products-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0;
    margin: 0;
}

.products-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    list-style-type: none;
}

.products-list-item p{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;

    margin: 0;
    margin-top: 20px;
}

.products-list-item img{
    width: 60px;
    height: 60px;
}

.about-container{
    display: block;
    align-items: center;
    width: 100%;
    background-image: url("../../img/Фон2.png");
    background-position-x: center;
    background-repeat: no-repeat;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.about-content img{
    filter: drop-shadow(-10px 10px 12px #adadad);
}

.about-content h2{
    margin-top: 120px;
}

.about-content p{
    font-size: 18px;
    font-weight: 400;
    color: #324950;
}

.mission-play-img{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 40%;
}

.vision-img{
    padding-left: 65px
}

.vision-img img{
    width: 540px;
    height: 500px;  
}

.content-vision{
    margin-bottom: 90px;
}

.content-vision-text{
    padding-right: 25px;
        font-size: 22px;
    font-weight: 400;
    color: #344d55;
}

.content-mission-text{
    padding-left: 115px;
    font-size: 22px;
    font-weight: 400;
    color: #405c64;
}

.about-subtitle{
    font-size: 64px;
    font-weight: 700;
}

.about-subtitle::after{
    display: block;
    position: relative;

    content: "\2716\2716\2716\2716\2716";
    
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: bolder;
    color: #57984c;

    margin: 25px 0 30px 0;
}

.activities-container{
    display: block;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    background: #f7f4f4;
}

.activities-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 70px 0 80px 0;
}

.activities-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.activities-content h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
}

.activities-list-item{
    text-align: center;
    justify-content: center;
}

#seeds-photo-1{
    width: 280px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    background-image: url("../../img/Рис_4.png");
}

#seeds-photo-2{
    width: 200px;
    height: 200px;
    background-position-y: -50px;
    background-position-x: -10px;
    margin: 0 auto;

    background-image: url("../../img/Рис_5.png");
}

#seeds-photo-3{
    width: 270px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    background-image: url("../../img/Рис_6.png");
}

.activities-subtitle{
    color: #5ea352;
    font-size: 20px;
    font-weight: 700;
}

.activities-list p{
    font-size: 17px;
    font-weight: 400;
    color: #375158;
    padding: 5px;
}

.activities-content h2::after{
    display: flex;
    position: relative;

    content: "\2716\2716\2716\2716\2716";
    
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: bolder;
    color: #5ea152;
    text-align: center;
    margin-top: 25px;
}

.activities-list h3::after{
    display: flex;
    
    content: "";
    width: 180px;
    border-bottom: 1px solid #57984C;

    margin: 25px auto 0px auto;

}

.footer{
    display: block;
    width: 100%;
    background: #33474e;
}

.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-top{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1050px;
    height: 75px;
}

.footer-nav-list{
    display: flex;
    justify-content: space-between;
}

.footer-nav-item a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(252, 252, 252);
}
.socials-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socials-list-item{
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 13.8px;
}


.footer-copyrighted{
    background: #344c53;
    padding: 11px;
    width: 100%;
}

.footer-copyrighted h4{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #c5c5c5;

    margin: 0;
}

.toggleMenu{
    display: none;
}



