body{
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 400;
    color: #324950;
    background: #F7F7F7;
}

.logostyle
{
    margin-left: 60px;
    margin-top: -20px;
}
a:hover{
    text-decoration: none;
}

ul{
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, p{
    color: #324950;
    padding: 0;
    margin: 0;
}

header{
    display: block;
    width: 100%;
    height: 122px;
    margin: auto auto;
    padding-top: 20px;
    background: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}

.header-content{
    margin: 0 auto;
    width: 1127px;
}

.search{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.search button{
    border: none;
    background: transparent;
}

.search::after{
    display: block;
    position: relative;
    content: "";
    width: 350px;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 25px;
}

.search input{
    border: none;
    background: transparent;
    margin-right: 5px;
}

.search input:focus{
    outline: none;
}

.search button:focus{
    outline: none;
}

.toggleMenu{
    display: none;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-nav-list{
    display: flex;
    width: auto;
    text-align: right;
}

.header-nav-item{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 15px;
    list-style-type: none;
}

.header-nav-item a{
    color: #324950;
    text-decoration: none;
}

.top-photo{
    width: 100%;
}

.content{
    margin: 0 auto;
    width: 1055px;
}

.col-md-8{
    padding-left: 125px;
}

.title{
    font-size: 44px;
    font-weight: 700;
    margin-top: 51px;
}

.title::after{
    display: flex;
    position: relative;

    content: "\2716\2716\2716\2716\2716";

    letter-spacing: 3px;
    font-size: 10px;
    font-weight: bolder;
    color: #57984C;
    text-align: center;
    margin-top: 40px;
}

.cart{
    display: flex;
}

.cart-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.cart-item{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 200px;

    box-shadow: 0 0 8px black;
    padding: 0;
    margin: 15px;
    margin-left: 0px;
}

.cart-item-right{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
}

.cart-item-subtitle{
    text-align: left;
}

.cart-item-subtitle h2{
    color: #57984C;
}

.cart-item a:hover{
    cursor: pointer;
}

.cart-item-img{
    width: 233px;
    height: 200px;
    overflow: hidden;
}

.cart-item-img img{
    width: 100%;
    height: 100%;
}

.cart-cross-img{
    width: 34px;
    height: 40px;
    margin-left: 20px;
    align-self: center;
}

.cart-cross-img img{
    width: 100%;
    height: 100%;
}

form{
    margin: 50px 0;
}

.form-item p{
    margin-bottom: 10.5px;
}

.form-item input{
    width: 100%;
    height: 55px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 10px;
}

.form-item{
    margin-bottom: 21px;
}

.form-item select{
    width: 100%;
    height: 55px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 10px;
    appearance: none;
    background-image: url("../../../images/select-arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 540px;
}

.form-item textarea{
    content: "";
    width: 100%;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
    padding: 10px;
}

.verify{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verify img{
    width: 99px;
    height: 27px;
    margin-right: 26px;
}

.verify input{
    width: 225px;
    height: 55px;
    margin-right: 30px;
}

.verify button{
    width: 255px;
    height: 55px;
    color: white;
    background: #57984C;
    border-radius: 60px;
    border: none;
    box-shadow: none;
}

.verify button:focus{
    outline: none;
}

.verify button:hover{
    filter: drop-shadow(0 0 5px #807d7d80);
}

.contact-list{
    margin-bottom: 30px;
}

.contact-list li{
    margin: 15px 0;
}

.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 250px;
    padding: 44px 0;
    background: #fff;
}

.address h2{
    color: #57984C;
    font-size: 20px;
    font-weight: 700;
}

.address p{
    line-height: 150%;
}

.address span{
    color: #57984C;
}

.address h2::after{
    display: flex;
    position: relative;
    content: "";
    border-bottom: 1px solid #57984C;
    margin: 12px 0 17px 0;
    width: 183px;
}

.footer{
    display: block;
    width: 100%;
    background: #2D3F45;
}

.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-top{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 1055px;
    height: 76px;
}

.footer-nav, .footer-socials{
    padding: 0;
}

.footer-nav-list{
    display: flex;
    justify-content: space-between;
}

.footer-nav-item a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.socials-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socials-list-item{
    display: flex;
    width: 31px;
    height: 31px;
    margin-left: 13.8px;
}

.footer-copyrighted{
    background: #324950;
    padding: 13px;
    width: 100%;
}

.footer-copyrighted h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #B9B9B9;

    margin: 0;
}